@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>With TTC, you can count on us for regular pick ups, special collections, and even schedule temporary breaks in service.</p>
