@{
    ViewBag.Title = "TTC";
}

<div class="jumbotron">
    <h1>Tait's Trash Collection</h1>
    <p class="lead">At TTC we believe there is a better way to provide trash collection service with our customer in mind!</p>
    <p>@Html.ActionLink("About", "About", "Home")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Not a customer yet?  Use the link below to register and begin to see the difference!
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
    </div>
    <div class="col-md-4">
        <h2>Existing Customer</h2>
        <p>Log in and add a pick up, schedule a temporary hold on service, change your pick up day, and more!</p>
        <p>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    </div>
    <div class="col-md-4">
        <h2>Our impact</h2>
        <p>We are constantly looking into new methods and technology to decrease our impact on the environment and increase effeciencies!
         Click to learn more!</p>
        <p><a class="btn btn-default" href="https://www.espn.com">Learn more &raquo;</a></p>
    </div>
</div>